.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.copyright {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-content);
    letter-spacing: 0.15rem;
    opacity: 0.5;
}