:root {
	--color-lightmode-green: #aeea60;
	--color-lightmode-purple: #a992e9;
	--color-lightmode-blank: #FFFFFF;
	--color-lightmode-content: #000000;
	--image-lightmode-bg: url('../public/bg-light.svg');

	--color-green: var(--color-lightmode-green);
	--color-purple: var(--color-lightmode-purple);
	--color-blank: var(--color-lightmode-blank);
	--color-content: var(--color-lightmode-content);
	--color-border: #C0C0C0;
	--color-pale-green: #E4F3D0;
	--color-pale-purple: #E3DEF2;
	--color-dark-green: #3e5421;
	--color-dark-purple: rgb(48, 39, 74);
	--color-selected: #000000;
	--image-bg: var(--image-lightmode-bg);

	--header-height: 3.5rem;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Outfit, 'Zen Kaku Gothic New';
	user-select: none;
	color: var(--color-content);
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.background {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
		background-repeat: repeat;
    background-image: var(--image-bg);
    background-size: 100vw 400vw;
}

.main-container {
	overflow: scroll;
	height: calc(100vh - var(--header-height));
	scroll-behavior: smooth;
}