.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vw;
    height: calc(100vh - var(--header-height));
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    .statusCode {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 0.12rem;
        font-variant: tabular-nums;
    }
    
    .separator {
        background-color: var(--color-content);
        width: 1px;
        height: 3rem;
        opacity: 0.25;
    }
    
    .messageText {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.06rem;
        line-height: 1.4rem;
    }
}